<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>21 Cineplux</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Update Bioskop</h2>
                <br>
                <form th:action="@{/bioskop/update}" th:object="${bioskop}" method="POST">
                    <input type="hidden" th:field="*{noBioskop}" />

                    Nama Bioskop : <br>
                    <input required class="form-control" type="text" name="namaBioskop" th:value="*{namaBioskop}" />
                    <br><br>

                    Alamat Bioskop: <br>
                    <input required class="form-control" type="text" name="alamatBioskop" th:value="*{alamatBioskop}" />
                    <br><br>

                    Jumlah Studio : <br>
                    <input required min="0" class="form-control" type="number" name="jumlahStudio" th:value="*{jumlahStudio}" />
                    <br><br>

                    Waktu Buka : <br>
                    <input required class="form-control" type="time" name="waktuBuka" th:value="*{waktuBuka}" />
                    <br><br>

                    Waktu Tutup : <br>
                    <input required class="form-control" type="time" name="waktuTutup" th:value="*{waktuTutup}" />
                    <br><br>

                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <a class="btn btn-primary" href="/bioskop/viewall">Kembali</a>
</div>

</body>

</html>