<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>21 Cineplux</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Tambah Bioskop</h2>
                <br>
                <form id="add" th:action="@{/bioskop/again(jumlah=${jumlah},ops=${ops})}" th:object="${bioskop}" method="POST"></form>
                <form id="subtract" th:action="@{/bioskop/again(jumlah=${jumlah},ops=${ops})}" th:object="${bioskop}" method="POST" ></form>
                <form th:action="@{/bioskop/add}" th:object="${bioskop}" method="POST">
                    Nama Bioskop : <br>
                    <input required class="form-control" type="text" name="namaBioskop" />
                    <br><br>

                    Alamat Bioskop: <br>
                    <input required class="form-control" type="text" name="alamatBioskop"/>
                    <br><br>

                    Jumlah Studio : <br>
                    <input required min="0" class="form-control" type="number" name="jumlahStudio" />
                    <br><br>

                    Waktu Buka : <br>
                    <input required class="form-control" type="time" name="waktuBuka" />
                    <br><br>

                    Waktu Tutup : <br>
                    <input required class="form-control" type="time" name="waktuTutup" />
                    <br><br>

                    <div th:if="${jumlah != 0}">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Nama Film</th>
                                <th>
                                    <div>
                                        <input type="hidden" th:value="${jumlah}" name="jumlah" form="add"/>
                                        <input type="hidden" th:value="${true}" name="ops" form="add"/>
                                    <button class="btn btn-primary" type="submit" form="add">Tambah Row</button>

                                    </div>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="i: ${#numbers.sequence(0, jumlah-1)}">
                                <td>
                                    <select name="film_bioskop" th:field="*{listFilm}" class="form-control" >
                                        <option th:each="film : ${listFilm}" th:value="${film.noFilm}" th:text="${film.namaFilm}" ></option>
                                    </select>
                                </td>
                                <td>
                                    <input type="hidden" th:value="${jumlah}" name="jumlah" form="subtract"/>
                                    <input type="hidden" th:value="${false}" name="ops" form="subtract"/>
                                    <button class="btn btn-danger" type="submit" form="subtract">Hapus Row</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                        <div th:unless="${jumlah != 0}">
                            <h2>Belum ada film yang dipilih</h2>
                                <input type="hidden" th:value="${jumlah}" name="jumlah" form="add"/>
                                <input type="hidden" th:value="${true}" name="ops" form="add"/>
                                <button class="btn btn-primary" type="submit" form="add">Tambah Row</button>
                        </div>
                <br><br>
                    <div>
                        <input class="btn btn-primary" type="submit">
                        <a class="btn btn-primary" href="/">Home</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>

</html>