<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title> Home </title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
  <link rel="stylesheet" th:href="@{../css/bootstrap.min.css}"/>
  <script
          src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFIBw8HfCJo="
          crossorigin="anonymous"
  ></script>
  <script
          src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js
"></script>
  <script th:src="@{../js/bootstrap.min.js}"></script>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="d-flex justify-content-center">
  <div class="m-4">
    <h2>Selamat datang di 21Cineplus</h2>
    <div class="d-flex justify-content-center">
      <a th:href="@{/bioskop/viewall}" class="mx-2 btn btn-warning">Lihat semua bioskop</a>
      <a th:href="@{/bioskop/add}" class="mx-2 btn btn-outline-warning">Tambah bioskop</a>
    </div>
    <div class="my-3 d-flex justify-content-center">
      <a th:href="@{/film/viewall}" class="mx-2 btn btn-warning">Lihat semua film</a>
      <a th:href="@{/film/add}" class="mx-2 btn btn-outline-warning">Tambah film</a>
    </div>
  </div>
</div>
<div th:replace="fragments/fragment :: footer"></div>
</body>

</html>