<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>Change Password</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Change Password</h2>
                <br>
                <div th:if="${passwordLama}">
                    <span style="color: red">Password Lama Salah!</span>
                </div>
                <div th:if="${passwordBaru}">
                    <span style="color: red">Password Tidak Sama!</span>
                </div>
                <form th:action="@{/password}"  th:object="${user}" method="POST">
                    <input type="hidden" th:field="*{id}" />
                    <input type="hidden" th:field="*{username}" />
                    <input type="hidden" th:field="*{nama}" />
                    <input type="hidden" th:field="*{email}" />
                    <input type="hidden" th:field="*{role}" />
                    <input type="hidden" th:value="${user.password}" name="passLama" />
                    Password Lama: <br>
                    <input required class="form-control" type="password" name="passLamaForm"   />
                    <br>

                    Password Baru: <br>
                    <input required class="form-control" type="password" name="passBaru" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, one special character, and at least 8 or more characters"  />
                    <br>

                    Konfirmasi Password Baru: <br>
                    <input required class="form-control" type="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, one special character, and at least 8 or more characters" />
                    <br>

                    <button class="btn btn-primary" type="submit">Submit</button>
                    <a class="btn btn-primary" href="/">Home</a>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>