<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>21 Cineplux</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h2>Daftar Seluruh Bioskop</h2>
    <br>
    <div th:each="bioskop : ${listBioskop}" class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <p th:text="'Nomor Bioskop : ' + ${bioskop.noBioskop}"></p>
                <p th:text="'Nama Bioskop : ' + ${bioskop.namaBioskop}"></p>
                <p th:text="'Alamat Bioskop : ' + ${bioskop.alamatBioskop}"></p>
                <p th:text="'Jumlah Studio Bioskop : ' + ${bioskop.jumlahStudio}"></p>
                <p th:text="'Waktu Buka Bioskop : ' + ${bioskop.waktuBuka}"></p>
                <p th:text="'Waktu Tutup Bioskop : ' + ${bioskop.waktuTutup}"></p>
                <br>
                <a class="btn btn-primary" th:href="@{/bioskop/view(noBioskop=${bioskop.noBioskop})}">Detail
                    Bioskop</a>
                <a class="btn btn-primary" th:href="@{/bioskop/update/} + ${bioskop.noBioskop}">Update Bioskop</a>
            </div>
        </div>
        <br>
    </div>
    <a class="btn btn-primary" href="/">Home</a>
</div>

</body>

</html>